.match
  %h1 [ Magic of DoubanMash ]
  .desc
    - link = link_to @event.title, @event.link, target: "_blank"
    - where = @event.json_data['where']['valueString']
    - t = @event.json_data['when']['startTime'][0..9]
    = "She will go to #{where} on #{t} for joining the event: #{link}.".html_safe
  .left
    .img= link_to image_tag(@douban_user.big_img, class: "peop-img"), @douban_user.link, target: "_blank"
  .right
    %table
      %tr
        %td.em Name:
        %td= link_to @douban_user.name, @douban_user.link, target: "_blank"
      %tr
        %td.em Location:
        %td= @douban_user.json_data['location']
      %tr
        %td.em Bio:
        %td= truncate @douban_user.json_data['content'], length: 200
  .clearfix


  .next
    %input{type: 'submit', value: "Approach Her", onclick: "window.location = '/main/poker?to_id=#{@douban_user.id}'"}
    - if @has_next  
      %input{type: 'submit', value: "Next", onclick: "window.location = '/main/match'"}
